<form action="#" method="POST" >

<div class="form-row">
    <div class="form-group col-md-6">
      <label>Mã giảm giá</label>
      <input type="text" class="form-control" id="coupon_id" name="coupon_id">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
      <label>Giá trị</label>
      <input type="text" class="form-control" id="value" name="value">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
      <label>Số lượng</label>
      <input type="text" class="form-control" id="quantity" name="quantity">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
      <label>Ngày bắt đầu</label>
      <input type="date" class="form-control" id="manufacturing_date" name="manufacturing_date">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
      <label>Ngày kết thúc</label>
      <input type="date" class="form-control" id="expiry_date" name="expiry_date">
    </div>
</div>
<!--xem chỗ combobox-->
<div class="form-row">
    <div class="form-group col-md-6">
      <label >Loại giảm giá</label>
      <select id="category_id" name="discount_type" class="discount_type">
        <option>...</option>
      </select>
    </div>
</div>
<!--xem chỗ combobox-->
<div class="form-row">
    <div class="form-group col-md-6">
      <label >Điều kiện sử dụng</label>
      <select id="category_id" name="proviso" class="proviso">
        <option>...</option>
      </select>
    </div>
</div>

<div class="form-row">
     <button type="submit" class="btn btn-primary">Sửa</button>
</div>
</form>