<form action="/coupons/updatecoupons/{{data}}" method="POST">

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Code giảm giá</label>
      <input type="text" class="form-control" id="code" name="code">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Giá trị</label>
      <input type="text" class="form-control" id="value" name="value">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Số lượng</label>
      <input type="text" class="form-control" id="quantity" name="quantity">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Ngày bắt đầu</label>
      <input type="date" class="form-control" id="manufacturing_date" name="manufacturing_date">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Ngày kết thúc</label>
      <input type="date" class="form-control" id="expiry_date" name="expiry_date">
    </div>
  </div>
  <!--xem chỗ combobox-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Loại giảm giá</label>
      <select id="category_id" name="discount_type" class="discount_type">
        <option value="1">Phần trăm</option>
        <option value="0">Tiền mặt</option>
      </select>
    </div>
  </div>
  <!--xem chỗ combobox-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Điều kiện sử dụng</label>
      <input id="proviso" name="proviso" class="proviso">
    </div>
  </div>

  <div class="form-row">
    <button type="submit" class="btn btn-primary">Sửa</button>
  </div>
</form>