<form action="#" method="POST" >
<div class="form-row">
    <div class="form-group col-md-6">
      <label>ID</label>
      <input type="text" class="form-control" id="store_id" name="store_id">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
      <label>Tên cửa hàng</label>
      <input type="text" class="form-control" id="store_name" name="store_name">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
      <label>Lat</label>
      <input type="text" class="form-control" id="lat" name="lat">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
      <label>Lng</label>
      <input type="text" class="form-control" id="lng" name="lng">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
      <label>Số điện thoại</label>
      <input type="text" class="form-control" id="store_phone" name="store_phone">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
      <label>Email</label>
      <input type="text" class="form-control" id="store_email" name="store_email">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
      <label>Địa chỉ</label>
      <input type="text" class="form-control" id="store_address" name="store_address">
    </div>
</div>
<div class="form-row">
     <button type="submit" class="btn btn-primary">Sửa</button>
</div>
</form>