<form action="#" method="POST">
    <!--xem chỗ combobox-->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mã chức vụ</label>
            <select id="employee_id" name="employee_id" class="form-control">
                <option>...</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mã nhân viên</label>
            <input type="text" class="form-control" id="position_id" name="position_id">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Tên nhân viên</label>
            <input type="text" class="form-control" id="employee_name" name="employee_name">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Tên sản phẩm</label>
            <input type="text" class="form-control" id="product_name" name="product_name">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Ngày sinh</label>
            <input type="date" class="form-control" id="birthday" name="birthday">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Địa chỉ</label>
            <input type="text" class="form-control" id="address" name="address">
        </div>
    </div>
<!--chỉnh lại radio giới tính-->
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="inlineRadio1">Nam</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="inlineRadio2">Nữ</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Số điện thoại</label>
            <input type="text" class="form-control" id="phone" name="phone">
        </div>
    </div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label >Chọn ảnh</label>
    <input type="file" class="form-control-file" id="image" name="image">
  </div>
</div>

    <div class="form-row">
        <button type="submit" class="btn btn-primary">Sửa</button>
    </div>
</form>