<form action="/user/createuser" method="POST" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Tên tài khoản</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Họ Tên người dùng</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Ngày sinh</label>
            <input type="date" class="form-control" id="birthday" name="birthday">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Số điện thoại</label>
            <input type="text" class="form-control" id="phone" name="phone">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Địa chỉ</label>
            <input type="text" class="form-control" id="address" name="address">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Chọn ảnh</label>
            <input type="file" class="form-control-file" id="hinhanh" name="hinhanh">
        </div>
    </div>
    <!--chỉnh lại radio giới tính-->
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-check form-check-inline">
                <label>Giới tính</label>
                <input class="form-check-input" type="radio" name="sex" id="inlineRadio1"
                    value="0">
                <label class="form-check-label" for="inlineRadio1">Nam</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="" id="inlineRadio2"
                    value="1">
                <label class="form-check-label" for="inlineRadio2">Nữ</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-primary">Thêm</button>
    </div>
</form>