<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Ảnh sản phẩm</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Giá tiền</th>
      <th scope="col">Số lượng</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><!--ảnh sp--></td>
      <td><!--tên sản phẩm--></td>
      <td><!--giá tiền--></td>
      <td><!--số lượng--></td>
    </tr>

    <tr>
      <th scope="row"></th>
      <td colspan="2">Tổng tiền:</td>
      <td> <!--Tông tiền : số tiền--></td>
    </tr>
  </tbody>
</table>